* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    display: flex;
    font-family: "Raleway", serif;
    background-color: #ffe4c4;
}

.main {
    flex-grow: 1;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/** sign in form **/

.signin {
    display: inline-block;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.signin p {
    margin: 10px;
}

#submit {
    font-size: 1rem;
    border: solid 1px;
    padding: revert;
    cursor: pointer;
    background-color: #ffd29d;
    margin: 15px 15px 20px 15px;
}

.hide {
    display: none;
}

/** choices section **/

h3 {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.choices {
    font-size: 5rem;
    border: none;
    background: none;
    padding: 1rem;
    cursor: pointer;
    transition: 100ms;
}

.choices:hover {
    transform: scale(1.3);
}

.choice {
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 1rem;
}

.choice div:first-child {
    padding-right: 5rem;
}

#name {
    text-transform: capitalize;
}

.choice span {
    text-transform: uppercase;
}

/** output of user- and computer-choice **/

.result-area {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

/** score area **/

.score-area {
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 2rem;
}

#user-score {
    padding-right: 5rem;
}

/** footer **/

footer {
    background-color: #ffd29d;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-bottom: 1.5rem;
}

footer span {
    display: flex;
    justify-content: center;
}

/** media queries for smaller devices 550px and below */
@media screen and (max-height: 550px) {
    footer {
        position: inherit;
    }
}

/** media queries for smaller devices 450px and below */
@media screen and (max-width: 450px) {
    h1 {
        margin-top: 2rem;
    }

    .choices {
        padding: 0;
        font-size: 3rem;
    }

    .result-area {
        font-size: 1.5rem;
    }
}