body {
    font-family: "Raleway", serif;
    background-color: #ffe4c4;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    display: flex;
    justify-content: center;
}

.choice {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    font-size: 5rem;
    border: none;
    background: none;
    padding: 1rem;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

.score-area {
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 3rem;
}

#player-score {
    padding-right: 5rem;
}
