body {
    font-family: "Raleway", serif;
    background-color: #ffe4c4;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    font-size: 5rem;
    border: none;
    background: none;
    padding: 1rem;
    cursor: pointer;
    transition: 100ms;
}

button:hover {
    transform: scale(1.3);
   }

.choice {
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 3rem;
}

#user-choice {
    padding-right: 5rem;
}

.score-area {
    display: flex;
    width: auto;
    justify-content: center;
    margin-top: 3rem;
}

#player-score {
    padding-right: 5rem;
}

footer {
    background-color: #ffd29d;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

footer span {
    display: flex;
    justify-content: center;
}